html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans",sans-serif;
}

body{
    background-color: #0c0c1d;
    color: lightgray;
}

a{
    text-decoration: none;
    color: inherit;
}

section {
    height: 100vh;
    scroll-snap-align: center;
}

@mixin mobile{
    @media (min-width: 401px) and (max-width: 500px){
        @content;
    }
}

@mixin surfaceDuo{
    @media (min-width: 501px) and (max-width: 750px){
        @content;
    }
}

@mixin iphone {
    @media (max-width: 400px){
        @content;
    }
}

@mixin tablet{
    @media (min-width: 751px) and (max-width: 950px){
        @content;
    }
}
@mixin desktop{
    @media (min-width:951px) and (max-width: 1100px){
        @content;
    }
}